/* Product Main section */
.product-main {
    height: 700px;
    padding: 130px 7vw 0px 7vw;
    overflow: hidden;
    margin-bottom: -15px;
}

.product-main-block {
    height: 300px;
    margin-top: -100px;
    width: 14vw;
}

.beer-bottle {
    width: 14vw;
    position: absolute;
}

.beer-bottle-flipped {
    width: 14vw;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity: 0.2;
    position: relative;
    top: 410px;
    z-index: -2;
}

.product-beer-list {
    background-color: rgba(0, 56, 148, 1);
    margin-bottom: 30px;
}

.product-detail-frame-odd {
    background: url('../../../../../assets/images/trap-left.png') no-repeat center;
    width: 96vw;
    height: 700px;
    margin: 10px 2vw 10px 2vw;
    padding: 60px 5vw 30px 5vw;
}

.beer-bottle-left {
    /* display: inline; */
    float: left;
    transform:translate(10%,-15%);
}

.product-detail-frame-even {
    background: url('../../../../../assets/images/trap-right.png') no-repeat center;
    width: 96vw;
    height: 700px;
    margin: 10px 2vw 10px 2vw;
    padding: 60px 5vw 30px 5vw;
}

.beer-bottle-right {
    /* display: inline; */
    float: right;
    transform:translate(-10%, -15%);
}

.product-content {
    width: 60vw;
    border: 1px solid slategrey;
    position: relative;
    float: right;
    margin: 120px 20px 30px 20px;
}

.image-filler {
    position: relative;
    float: right;
    margin: 10px 50px 10px 50px;
}

.beer-facts {
    position: relative;
    width: 30vw;
    float: right;
    padding: 8px 14px 8px 14px;
    margin: 0px 50px 0px 10px;
    border: 1px solid black;
}