.event-info {
    background-color: #fff
}

.info {
    margin: 20px 10% 20px 10%;
    border: 1px solid rgba(167, 184, 211, 0.4);
    border-radius: 5px;
    padding: 10px 3% 10px 3%;
    background-color: rgba(255, 255, 255, 0.9);
}

#bottle {
    height: 450px;
    // display: inline;
    float: right;
    transform:translate(80%,-15%);
    margin-right: 30px;
}