.about-title {
	height: 700px;
	padding: 130px 7vw 0px 7vw;
	overflow: hidden;
	margin-bottom: -15px;
	background: url('../../../../../assets/images/beergarten.jpg') no-repeat center fixed;
}

.about-product-main {
    height: 700px;
    padding: 130px 7vw 0px 7vw;
    overflow: hidden;
    margin-bottom: -15px;
}